@page
@model LionPetManagement.Pages.LoginModel
@{
	ViewData["Title"] = "Trang đăng nhập";
}

<h1>Trang đăng nhập</h1>

<form method="post">
	<div>
		<label>Email</label></br>
		<input type="email" asp-for="Email" />
	</div>

	</br>

	<div>
		<label>Password</label></></br>
		<input type="password" asp-for="Password" />
	</div>

	@*Báo lỗi nếu có *@
	@if (!string.IsNullOrEmpty(Model.ErrorMessage))
	{
		<p style="color:red;">@Model.ErrorMessage</p>
	}

	</br>
	<button type="submit">Đăng nhập</button>
</form>
